{% extends 'LabFimoStudentBundle::layout.html.twig' %}

{% block contenido %}
{% endblock %}

{%block navbarMenu %}
<li class="active"><a href="#">Inscribirse</a></li>
<li><a href="#">Social</a></li>
<li><a href="#">Mantenimiento</a></li>
<li><a href="#">Soporte T&eacute;cnico</a></li>
<li><a href="#">Salir</a></li>
{% endblock %}
